html, body {    width: 100%;    height: 100%;}
/*Bootstrap-overlay*/

body{line-height: 1.5;color: #333;font-size: 12px;  }
body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dt, dd, ol, ul, caption, th, td, form, fieldset, legend, input, button, textarea, address{padding: 0;margin: 0;  }
body, input {
font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
ol, ul {
list-style: none;
}
a, a:hover {
text-decoration: none;
}

a, label, :focus {
outline: 0 none;
}
form {
margin: 0;
}

.top {
padding-top: 25px;
height: 75px;
background: #ececec;
border-bottom: 1px solid #d9d9d9;
}
.logo, .content, .footer {
width: 900px;
margin: 0 auto;
padding: 0 30px;
}
.logo{margin:-15px auto 0 auto;}
.suc_content {
padding-top: 80px;
height: 630px;
width: 903px;
margin: 0 auto;
}
.suc_content {
height: auto;
}
.suc_kuang {
background: #f9f9f9;
}
.hei_513 {
height: auto;
border: 1px solid #dadada;
border-bottom: none;
}
.hei_513 {
height: auto;
min-height: 513px;
_height: 513px;
}
.retrieve_pwd {
border-bottom: 1px dashed #E3E3E3;
padding: 30px;
height: 24px;
line-height: 24px;
color: #FF7E00;
text-align: left;
font-size: 24px;
font-weight: 400;
}
.p_tips {
text-align: center;
margin-top: 110px;
font-size: 14px;
padding-top: 10px;
}
.forget_area {
position: relative;
width: 350px;
margin: 30px auto 14px auto;
}
.forgetpassword .sub_bg {
display: block;
margin: 60px auto 0 auto;
text-align: center;
}
.forgetpassword .radio_quyu {
margin: 50px 0 0 270px;font-size: 14px;
}

.forgetpassword .radio_quyu input.Mradio{
margin:0 6px 0 0;
}

.forgetpassword .radio_quyu input.marl_40 {
margin-left: 40px;
}

.forgetpassword .radio_quyu label{
display: inline;
}

.goback {
margin-top: 60px;
text-align: center;
}

.txt_input .goback {
margin-top: 30px;
}
.info {
height: 25px;
line-height: 25px;
border-bottom: 1px dashed #E3E3E3;
padding: 30px;
}
.left_name {
font-size: 16px;
font-weight: bold;
float: left;
}
.m_name {
color: #333;
}
.m_func {
color: #ff7e00;
margin-left: 10px;
}
.resetPass_content {
margin-top: 60px;
}
.account_tips {
text-align: left;
height: 32px;
line-height: 16px;
font-size: 14px;
margin-left: 180px;
}
dl {
margin-bottom: 20px;
}
.dt_l, .dd_r {
float: left;
height: 38px;
margin-bottom: 12px;
vertical-align: middle;
}
.dd_r_pos{line-height: 38px;}

.dt_l {
width: 170px;
padding-right: 10px;
font-size: 14px;
font-weight: bold;
line-height: 38px;
text-align: right;
}
.dd_r_pos {
position: relative;
}
.dd_r {
width: 680px;
}
.email_tip {
margin: 140px 0 0 0;
padding-bottom: 40px;
text-align: center;
font-size: 14px;
}


.suc_botm {
background: url(../img/bom_cor.png) left bottom no-repeat;
height: 62px;
}

.footer {
text-align: center;
margin-top: 45px;
}
.links {
display: inline-block;
zoom: 1;
}
.links li.copyright {
border-right: none;
}
.footer span {
margin-left: 10px;
color: #999;
}
.btn-success{width:160px;background:#ff7a4d;margin:0;padding:4px 6px;border:0;text-shadow:none;padding: 12px 10px;}
.btn-success:hover{background:#ff7a4d;}

/*register*/
.h4_suc {
margin: 0 0 10px 30px;
padding-top: 20px;
font-size: 22px;
font-weight: bold;
color: #ff9630;
}
.suc_p {
padding: 0 0 20px 30px;
border-bottom: 1px dashed #e3e3e3;
color: #999;
}
.validate_info {
margin-left: 10px;
color: #999;
line-height: 14px;
vertical-align: middle;
}
dl.clearfix{margin:0;}
input[type="text"],input[type="password"]{width:320px;padding:12px 10px;}
input.yanzheng[type="text"]{width:60px;}
input.register_input[type="text"],input.register_input[type="password"]{padding:8px 10px;}
